#root {
  text-align: center;
}

.img {
  display: block;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.cardHover:hover {
   background-color: #eee;
   cursor: pointer;
   padding: 2px;
}

.filter {
  
}